<div class="box">
    
<form action="" >
    <label for="name" class="label "><img src="https://www.nicepng.com/png/full/12-120709_png-file-human-icon-png.png" alt="human" class="icon"> Name & Surname</label><br>
    <input type="text" id="name" name="name" placeholder="Name & Surname" class="input" required><br>
    
    <label for="mail">  <img src="https://cdn2.downdetector.com/static/uploads/logo/image21.png" alt="email" class="icon">E-mail</label><br>
    <input type="email" id="mail" name="mail" placeholder="Example@Gmail.com" class="input" required><br>

    <label for="phone" class="label "><img src="https://icon-library.com/images/phone-icon-html/phone-icon-html-3.jpg" alt="phone" class="icon"> Phone Number</label> <br>
    <input type="tel" id="phone" name="phone" placeholder="XXX-XX-XX-XX" pattern="[0-9]{9}" class="input" required maxlength="9"><br><br>
     
  <div class="select">
    <label for="card"><img src="https://icons-for-free.com/iconfiles/png/512/card+credit+card+debit+card+master+card+icon-1320184902079563557.png" alt="credit card" class="icon1"> Select Credit card</label> 
    <select name="card" id="card" required>
        <option value="volvo">Visa</option>
        <option value="saab">MasterCard</option>
        <option value="opel">Santander</option>
        <option value="audi">American express</option>
      </select>
      </div>
      <label for="card-number"><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/credit-card-2445887-2064308.png" alt="card number" class="icon"> Card number</label> <br>
      <input type="tel" id="phone" name="phone" placeholder="XXXX-XXXX-XXXX-XXXX" pattern="[0-9]{16}" class="input" required maxlength="16"><br><br>
    
    <input type="submit" value="Submit" class="button">
</form>
</div>
